@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 43% 97%;
    --foreground: 224 71% 4%;
    --card: 36 43% 97%;
    --card-foreground: 224 71% 4%;
    --popover: 36 43% 97%;
    --popover-foreground: 224 71% 4%;
    --primary: 3 100% 61%;
    --primary-foreground: 355 100% 97%;
    --secondary: 30 10% 90%;
    --secondary-foreground: 224 71% 4%;
    --muted: 30 10% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 28 100% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 10% 85%;
    --input: 30 10% 85%;
    --ring: 3 100% 61%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 0 0% 95%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 0 0% 95%;
    --primary: 3 100% 61%;
    --primary-foreground: 355 100% 97%;
    --secondary: 20 10% 15%;
    --secondary-foreground: 0 0% 95%;
    --muted: 20 10% 15%;
    --muted-foreground: 240 4% 46%;
    --accent: 28 100% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 10% 15%;
    --input: 20 10% 15%;
    --ring: 3 100% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .typing-animation {
    animation: 
      typing 4s steps(8, end) infinite,
      blink-caret .75s step-end infinite;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 7ch } /* 7ch is the length of "PizzApp" */
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: hsl(var(--primary)); }
  }

  @keyframes float {
    0% {
      transform: translateY(0px) rotate(0deg);
    }
    50% {
      transform: translateY(-4px) rotate(0deg);
    }
    100% {
      transform: translateY(0px) rotate(0deg);
    }
  }

  .animate-wave-and-float {
    animation: float 4s ease-in-out infinite;
  }

}

@layer utilities {
  .glow-gold {
    box-shadow: 0 0 8px #FBBF24, 0 0 12px #FBBF24;
  }
  .glow-silver {
    box-shadow: 0 0 8px #D1D5DB, 0 0 12px #D1D5DB;
  }
  .glow-bronze {
    box-shadow: 0 0 8px #F97316, 0 0 12px #F97316;
  }
  .glow-primary {
    box-shadow: 0 0 8px hsl(var(--primary)), 0 0 12px hsl(var(--primary));
  }
  .animate-float {
    animation: float 4s ease-in-out infinite;
  }
}
