@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 43% 97%;
    --foreground: 224 71% 4%;
    --card: 36 43% 97%;
    --card-foreground: 224 71% 4%;
    --popover: 36 43% 97%;
    --popover-foreground: 224 71% 4%;
    --primary: 3 100% 61%;
    --primary-foreground: 355 100% 97%;
    --secondary: 30 10% 90%;
    --secondary-foreground: 224 71% 4%;
    --muted: 30 10% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 28 100% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 10% 85%;
    --input: 30 10% 85%;
    --ring: 3 100% 61%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 0 0% 95%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 0 0% 95%;
    --primary: 3 100% 61%;
    --primary-foreground: 355 100% 97%;
    --secondary: 20 10% 15%;
    --secondary-foreground: 0 0% 95%;
    --muted: 20 10% 15%;
    --muted-foreground: 240 4% 46%;
    --accent: 28 100% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 10% 15%;
    --input: 20 10% 15%;
    --ring: 3 100% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .typing-animation {
    animation: typing 4s steps(7) infinite;
  }

  @keyframes typing {
    0% { width: 0; }
    14% { width: 1ch; }
    28% { width: 2ch; }
    42% { width: 3ch; }
    56% { width: 4ch; }
    70% { width: 5ch; }
    84% { width: 6ch; }
    100% { width: 7ch; }
  }
}
